/sln.JingruiZhang.EF/.vs
/sln.JingruiZhang.EF/JingruiZhang.EF/bin
/sln.JingruiZhang.EF/JingruiZhang.EF/obj
/sln.JingruiZhang.EF/ModelCore/bin
/sln.JingruiZhang.EF/ModelCore/obj
/sln.JingruiZhang.EF/ModelNet45/bin
/sln.JingruiZhang.EF/ModelNet45/obj
/sln.JingruiZhang.EF/TestAppCore/bin
/sln.JingruiZhang.EF/TestAppCore/obj
/sln.JingruiZhang.EF/TestAppNet45/bin
/sln.JingruiZhang.EF/TestAppNet45/obj